@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FlashCards.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["lblDetails"]</h1>

<div>
    <h4>@Localizer["lblcard"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["lbledit"]</a> |
    <a asp-action="Index">@Localizer["lbback"]</a>
</div>
