@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<FlashCards.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["lblcards"]</h1>

<p>
    <a asp-action="Create">@Localizer["lblCreate"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Definition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["lbledit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["lblDetails"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["lblDelete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
