@model FlashCards.Models.cardCollectionLink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cardCollectionLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collection.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
