@model IEnumerable<FlashCards.Models.Collection>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Flashcards App</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <a href="https://localhost:7280/Collections" class="btn btn-primary mt-4 mb-4">Go to Learning tab</a>
    } else
    {
        <p>To begin using the app, please log in or sign up.</p>
    }
    <h3 class="mt-4">Here are the available collections of cards</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Number Of Words
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardCollectionLinks.Count)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    
</div>
